/* MAIN NOSOTROS */
.nosotros{
    @include flex(none, center, none);
    
    img{
        width: 600px;
        border-radius: 20px;
    }
    
    .imgPersonal{
        @include flex(column, center, none);

        p{
            margin: 50px 50px 0px 50px;
        } 
    }
}
